/* header style*/
body{
  background-color: blanchedalmond;
}

#header-nav{
  background-color:aquamarine;
}

.heading > a{
  text-decoration: none;
  font-family: sans-serif;
  font-size: 0.8em;
  color: black;
}

.heading button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid black;
}
#collapsable-nav{
  text-align: center;
} 
#menuheading{
  text-align: center;
  color:black;
  margin-top: 100px;
}

.matter h2, h1{
  text-align: center;
}

.matter div{
  background-color: grey;
  color: black;
  border: 1px solid black;
  margin-bottom: 20px;
}

.fixed-top
{position:fixed;top:0;right:0;left:0;z-index:1030}

@media(max-width: 767px){
#nav-list li a{
  border: 1px solid black;
}
#navlist{
  margin-top: 20px;

}

.matter{
  position: absolute;
  top:120px;
  margin-bottom: 10px;
}
.fixed-top
{position: relative;}
}

